@import "tailwindcss";
@layer utilities {
  body {
    font-family: "Roboto", "Poppins", "Arial", "Helvetica", "sans-serif";
    background: linear-gradient(45deg, rgb(0, 195, 255), rgba(255, 2, 2, 0.75));
    min-height: 100vh;
  }
}
.text-medieval {
  font-family: "MedievalSharp", "Roboto", "Poppins", "Arial", "Helvetica",
    "sans-serif";
}
/* "MedievalSharp",  */
